body {
    position: fixed;
    font-family: 'Roboto';
    font-style: normal;
}

.left {
    position: fixed;
    background-color: white;
    width: 30%;
}

h3 {
    font-size: 25px;
    margin-left: 20px;
}

.btn {
    border-radius: 25px;
    background-color: black;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    padding: 10px;
    width: 250px;
}

.group {
    background-color: white;
    font-family: 'Roboto';
    font-style: normal;
    color: black;
    height: 50px;
    width: 300px;
}

.create-btn {
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 80px;
    margin-top: 40px;
    margin-left: 45vh;
    padding: 5px;
}

label {
    margin-left: 10px;
    padding: 10px;

}

input {
    border-radius: 10px;
    border: 2px solid #CCCCCC;
    color: #CCCCCC;
    margin-left: 20px;
    padding: 9px;
}

.chooseColor {
    margin-left: 20px;
}

.overlay {
    
    background: rgba(49, 49, 49, 0.8);
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.popupContainer {
    position: absolute;
    color: black;
    font-size: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 400px;
    min-width: 100px;
}